/*----------------------------------------------tags-----------------------------------------------*/
body{
    
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: fit-content;
}

li{
    display: inline;
}


/* ---------------------------------------------utility classes----------------------------------------------*/

.width-fit-content{
    width:fit-content;
}

.display-inline-block{
    display: inline-block;
}

.margin-left-default{
    margin-left:2%;
}

.border-default{
}

.display-none{
    display: none;
}


/* ---------------------------------------------main classes----------------------------------------------*/

.wrapper{
    text-align: center;
}

.container{
    margin-top: 5%;
    width: 40%;
    border: 1px solid black;
}
.add-to-do{
    text-align: center;
    
}
.button-container{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.to-do-list{
    width: 70%;

}

.edit-to-do{

}


/* -----------------------------------------------Id------------------------------------------------------*/

#to-do-input{
    width: 70%;
}

#all{

}

#active{

}

#completed{

}




